/* Sizes content to fit the whole screen. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Sets the header font and stylizes with color. Child elements affect size and positioning. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header ul {
    list-style-type: none;
}

.header li {
    display: inline-block;
    margin-left: 25px;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}

.header p {
    font-size: 16px;
}

/* Sets the image to the background. Surface area shown depends on viewport size. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Hides image provided in HTML portion to allow for alt text. */
#no-display {
    display: none;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Sizes each content box to take up a greater portion of the viewport. Changes stacking functionality. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Child elements provide font type, add coloring, and affect size and positioning. */
.content-box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-box img {
    max-height: 200px;
}

.content-box h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sizes each benefit box to take up a lesser portion of the viewport. Also provides font type and background coloring.  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Child elements add coloring and affect positioning. */
.benefit-mini-box {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-mini-box h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-mini-box img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets the footer font and affects positioning. Child element resizes font. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
